a.footerStyle {
    height: 20px;
    text-decoration: none;
    margin: -20px auto 0 10%;
    color: #777777;
    transition: 0.5s ease-in-out;
    font-family: 'Montez', cursive; /*скачать шрифт можно с сайта https://www.google.com/fonts/*/
}

a.footerStyle:hover {
    color: #f70211;
}
