header.headerStyle {
    font-size: 16px;
    text-align: center;
    margin-left: 5em;
    width: 100%;
    display: inline;
    transition: 0.5s ease-in-out;
    font-family: 'Montez', cursive;
}

a.headerText {
    display: inline-block;
    font-weight: bold;
    color: #111;
    text-decoration: none;
    margin-left: 10%;
}

a.headerText:hover {
    color: #f70211;
}

p.logo {
    display: inline-block;
    font-size: 20px;
    font-family: fantasy;
    text-align: left;
}

p.logo::first-letter {
    color: red;
}



