.headerStyle {
    font-size: 16px;
    text-align: center;
    width: 100%;
    display: inline;
    transition: 0.5s ease-in-out;
    font-family: 'Montez', cursive;
    background-color: #2196f3;
    height: 20px;
    margin-top: -20px;
}

a.headerText {
    display: inline-block;
    font-weight: bold;
    color: #111;
    text-decoration: none;
    padding-left: 5%;
    padding-right: 6%;
}

a.headerText:hover {
    color: #f70211;
}

p.logo {
    display: inline-block;
    padding-left: 5%;
    font-size: 20px;
    font-family: fantasy;
    text-align: left;
}

p.logo::first-letter {
    color: red;
}



