.background {
    background: url(../resources/images/loveFone.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.noBackground {
    background: none;
}
.opacityBackground {
    opacity: 0.72;
}
.noOpacity{
    background: rgba(244, 240, 245, 1);
}

IMG.profilePageFoto {
    margin-top: 5em;
    width: 85%;
    height: 12em;
 }

IMG.smallFoto {
    width: 20%;
    height: 40%;
}
