.sidenav {
    padding-top: 20px;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}
.row.content {min-height: 60%}

div#userBox{
    width: 240px;
    background-color: lightcyan;
    border:  1px solid transparent;
    box-shadow: 5px 5px 20px grey;
}
div#boxContent {
    float: left;
    margin-left: 40px;
    margin-top: 40px;
}
div.btn-group{
    margin-left: auto;
    margin-right: auto;
}