* {

}

html {
    background: #999999;
}

body {
    height: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 50px 50px 50px 50px;
    margin: 0px 50px 0px 50px;
    background: #CCCCCC;
    box-shadow: 0px 0px 15px 15px rgba(0,0,0,.5);
}

hr {
    width: 99%;
    padding: 0px;
    margin: 0px auto;
}

div {
    background: #FFF;
    border: 1px solid black;
    padding: 25px;
    margin: 50px auto;
}

.navMenu {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
    list-style: none;
    border-bottom: 1px dashed #000;
    text-align: center;
}

.navMenu li {
    display:inline;
}

.navMenu a {
    display: inline-block;
    border: 1px dashed #000;
    border-bottom: none;
    padding: 5px 15px 5px 15px;
    background-color: #999;
    text-decoration: none;
    color: #600;
    height: 1.5em;
    line-height: 1.5em;
}

.navMenu a:hover {
    background-color: #666;
    color: yellow;
}


