* {

}

html {
    background: #999999;
}

body {
    height: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 50px 50px 50px 50px;
    margin: 0px 50px 0px 50px;
    background: #CCCCCC;
    box-shadow: 0px 0px 15px 15px rgba(0,0,0,.5);
}

hr {
    width: 99%;
    padding: 0px;
    margin: 0px auto;
}

div {
    background: #FFFFFF;
    border: 1px solid black;
    padding: 25px;
    margin: 50px auto;
}

#left {
    width: 350px;
    float: left;
}
#navMenu {
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    background-color: rgba(200, 50, 50, 1);
}

#navMenu li:last-of-type a {

    border-bottom: 2px solid #900;
}

#navMenu a {
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 1px solid #900;
    padding: 7px 5px;
    display: block;
    background-position: 0 2px;
    border-bottom: none;
    padding: 7px 5px 7px 30px;
}

#navMenu a:hover {
    background-color: rgba(200, 50, 50, .5);
}

