#messageContent {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
    margin: 16px 0;
}

/* Clear floats after containers */
#messageContent::after {
    content: "";
    clear: both;
    display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
#messageContent img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

/* Increase the font-size of a span element */
#messageContent span {
    font-size: 15px;
    margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
    #messageContent {
        text-align: center;
    }

    #messageContent img {
        margin: auto;
        float: none;
        display: block;
    }
}